<div class="ui secondary  menu">
  <button class="ui tiny  compact abeled icon button">
    <i class="left arrow icon"></i>
    <%= link_to 'Back to index', admin_index_url%>
  </button>
  <a class="active item">
    Welcome Admin!
  </a>
  <%= link_to 'Poster CRUD', posters_path, class:'item' %>
  <%= link_to 'All orders', admin_orders_path, class: 'item' %>
  <%= link_to 'Analisys', analisys_path_url, class: 'item' %>
  <div class="right menu">
      <%= link_to 'Logout', admin_logout_path, class:'ui item' %><br>
  </div>
</div>


<h1 align='center '>Listing Posters</h1>
<p id="notice"><%= params[:notice] %> </p>

<p><%=link_to 'New poster','posters/new', class:'ui blue button'%></p>
<table class="ui celled table" >
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3">Sizes</th>
      <th colspan="3">Prices</th>
      <th colspan="2"></th>
      <th colspan='3'>Actions</th>

    </tr>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Small</th>
      <th>Medium</th>
      <th>Large</th>
      <th>Small</th>
      <th>Medium</th>
      <th>Large</th>
      <th>Category</th>
      <th>Active</th>
      <th>Edit</th>
      <th>Details</th>
      <th>Deactivate</th>
    </tr>
  </thead>

  <tbody>
      <% @posters.each do |poster| %>

      <%
        status = nil
        peq = nil
        med = nil
        gra = nil
        if poster.active.eql? "0"
          status = "No"
        else
          status = "Yes"
        end

        if poster.small.eql? "0"
          peq = "No"
        else
          peq = "Yes"
        end

        if poster.medium.eql? "0"
          med = "No"
        else
          med = "Yes"
        end

        if poster.large.eql? "0"
          gra = "No"
        else
          gra = "Yes"
        end
      %>


        <tr>
          <td><%= poster.id %></td>
          <td><%= poster.name %></td>
          <td><%= peq %></td>
          <td><%= med %></td>
          <td><%= gra %></td>
          <td>$ <%= poster.price_small %></td>
          <td>$ <%= poster.price_medium %></td>
          <td>$ <%= poster.price_large %></td>
          <td><%= poster.category %></td>
          <td><%= status %></td>
          <td><%= link_to 'Edit', controller: 'posters', action: 'edit', id: poster.id  %></td>
          <td><i class="search icon"/><%=link_to 'Details', controller: 'posters', action: 'show', id: poster.id  %></td>
          <%
            if poster.active.eql? "1"%>
              <td><i class="icon close"></i><%=link_to 'Deactivate', "/posters/#{poster.id}", method: :delete %></td>
          <%
            end
          %>

        </tr>
      <% end %>
    </tbody>
  </table>
