<%= form_for @login,
  url: url_for(controller: 'admin', action: 'admin_log_in'),
  method: :post, html: { class: 'form-control' } do |f| %>
  <%  if @login.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @login.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end%></ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password%>
  </div>
  <div class='actions'>
  <%= f.submit 'Login'  %>
  </div>
  <br>
  <%=link_to 'Register', "/clients/new"%>
<% end %>
