<%= form_for @client,
  controller: 'clients', action: 'udpate',
  method: :put, html: { class: 'form-control' } do |f| %>
  <%  if @client.errors.any? %>
    <div id="error_explanation">


      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <h2>New address</h2>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :updated_at %>
  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood%>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :complement %><br>
    <%= f.text_area :complement %>
  </div>
  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>
  <div class='actions'>
  <%= f.submit 'Save'  %>
  </div>
<% end %>
