<p id="notice"><%= notice %></p>
<table>
  <thead>
    <td><strong>Order id</strong></td>
    <td><strong>Total price</strong></td>
    <td><strong>Payment status</strong></td>
    <td><strong>Shipping status</strong></td>
  </thead>
  <%@orders.each do |order|%>
    <%status = nil
      if order.payment_status == 0
        status = "Waiting payment"
      else
        status = "Paid"
      end
    %>
    <tbody>
      <td><%=order.id%></td>
      <td><%=order.total_price%></td>
      <td><%=order.payment_status%></td>
      <td><%=order.shipping_status%></td>
      <td><%= link_to 'Details', controller: 'orders', action: 'show', id: order.id %></td>
      <%#binding.pry%>
      <%if order.shipping_status.include? "Not" %>
        <td><%= link_to 'Cancel order', controller: 'orders', action: 'cancel_order', id: order.id %></td>
      <%elsif  order.shipping_status.include? "In"%>
        <td><%= link_to 'Cancel order', controller: 'orders', action: 'cancel_order', id: order.id %></td>
      <%elsif order.shipping_status.eql? "Delivered"%>
        <td><%= link_to 'Complain it' %></td>
      <%end%>
  <%end%>
</table><br><br>
<%= link_to 'Back to store', root_path %>
