<br><br>
<div class='ui text container'>
</div>

<br><br>
<div class="ui column stackable center page grid">
  <div class="five wide column"></div><!-- empty div just padding -->
  <div class='ui form error'>
    <div class='ui grid'>
      <%= form_for @login,
        url: url_for(controller: params[:controller], action: 'log_in'),
        method: params[:method], html: { class: 'ui sixteen wide column form segment'} do |f| %>
        <a class="ui red ribbon label">Login</a>
        <span>Please login to continue</span>
        <p></p>
        <%  if @login.errors.any? %>
          <div id="error_explanation" class="ui error message">
            <div class="header">Error</div>
            <ul>
            <% @login.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end%></ul>
          </div>
        <% end %>
        <div class='field'>
          <%= f.label :email %>
          <%= f.text_field :email%>
        </div>
        <div class='field'>
          <%= f.label :password %>
          <%= f.password_field :password%>
        </div>
        <div class=''>
          <%= f.submit 'Login', class: 'ui fluid large teal submit button'  %><br>
        </div>
        <%=link_to 'Register', "/clients/new", class: 'ui fluid button'%>
      <%end%><br><br>
    </div>
  </div>
  <form class="">
     <!-- login input fields go here -->
  </form>
</div>
