<%if session[:signed_in] != true%>
  <div class="ui secondary  menu">
  <%=link_to 'Login', "/login", class:'item'%>
  <%=link_to 'Register', "/clients/new", class: 'item'%>
  <%= link_to "My cart ", "/cart", class: 'item' %>

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<%else%>
  <div class="ui secondary  menu">
    <a class="active item">
      Hello <%=session[:user]["name"]%>!
    </a>
    <%= link_to "My orders ", 'orders', class:'item' %>
    <%= link_to "My cart ", "/cart", class: 'item' %>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
        <%= link_to 'Logout', log_out_path, class:'ui item' %><br>
    </div>
  </div>
<%end%>

<h1 align='center'>PosterCommerce Index</h1>
<%  if @cart_item.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @cart_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end%></ul>
  </div>
<% end %>

<p id="notice"><%= flash[:notice] %> </p>
<div class='ui grid'>
  <%@posters.each do |poster|%>

      <%if poster.active.eql? "0"%>
        <%next%>
      <%else%>
      <div class='three wide column'>
        <div class='ui card'>
          <%= form_for @cart_item,
            url: url_for(controller: 'cart', action: 'add_to_cart'),
            method: 'post', html: { class: 'form-control' } do |f| %>
            <%if poster.active.eql? "1"%>
              <div class='image'>
                <img src="data:image/jpeg;charset=utf-8;base64,<%= poster.image %>" height="100" width="230" />
              </div>

              <%@list = Array.new()%>
              <%@list << "Small" if poster.small.eql?  "1" %>
              <%@list << "Medium" if poster.medium.eql? "1" %>
              <%@list << "Large" if poster.large.eql? "1" %>
              <%@price = Hash.new %>
              <%@price = {"Small" => poster.price_small,
                               "Medium" => poster.price_medium,
                               "Large" => poster.price_large} %>


              <%if !@list.empty?%>
                <div class='description'>
                <label>ID: </label><%=poster.id%><br>
                <%= f.hidden_field :item_id, :value => poster.id%>
                <label>Name: </label><%= poster.name%><br>
                <%= f.hidden_field :name, :value => poster.name%>
                <label>Category: </label><%= poster.category%><br>
                <%= f.hidden_field :category, :value => poster.category%>
              </div>
                <select class="ui fluid dropdown" name="cart_item[size]" id="cart_item_unit_price">
                  <%@list.each do |t|%>
                    <option value="<%=t%>"> <%=t %> <%= @price[t]%> </option>
                  <%end%>
                </select>
                <div class="ui fluid input">
                  <%= f.text_field :amount, placeholder: "Amont (Ex.: 5)"%>
                </div>
                <div><%= f.submit 'Add to cart', class:'ui fluid button'%></div>
              <%end%>
            <%end%>

          <% end %>

      <%end%>
</div>
    </div>
  <%end%>
